<nav class="navbar navbar-default navbar-expand-lg navbar-fixed-top">
  <div class="container-fluid my_nav">
   <div class="row">  
     <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <h3 class="logo">Articles</h3>
     </div>
     <div id="user_nav">
       <% if current_user %>
          Logged in as <%= current_user.email %>.
          <br>
          <%= link_to "Log out", log_out_path, class: "btn btn-primary" %>
       <% else %>
         <%= link_to "Sign up", sign_up_path %> or
         <%= link_to "log in", log_in_path %>
       <% end %>
     </div>
     <% flash.each do |name, msg| %>
       <%= content_tag :div, msg, :id => "flash_#{name}" %>
     <% end %>
   </div>
   <div class="row">
     <div class="collapse navbar-collapse">
       <ul class="nav navbar-nav">  
          <li><%= link_to 'Home', articles_path %></li>
          <li><%= link_to 'Post article', new_article_path %></li>
          <li><%= link_to 'About' %></li>
       </ul>
     </div>
   </div>
 </div>
</nav>
<% @articles.in_groups_of(4, false).each do |group| %>
  <div class="container article_card">
    <div class="row">
     <% group.each do |article| %>
     <div class="col-md-3">
       <div class="card">
          <div class="card-header">
           <%= article.name %>
          </div>
          <div class="card-body">
            <%= label_tag(:description) %>
            <%= article.description %>
            <br>
            <%= label_tag(:category) %>
            <%= article.category.name %>
            <br>
            <%= label_tag(:author) %>
            <%= article.author.name %>
            <br>
            <%= link_to "Image", article.upload.url %>
            <br>
            <%= link_to 'View', article_path(article), class: 'btn btn-info' %>
            <%= link_to 'Edit', edit_article_path(article), class: 'btn btn-warning' %>
            <%= link_to 'Delete', '#', "data-toggle"=>"modal", "data-target" => "#delete-#{article.id}",:class=>'btn btn-danger'%>
            <div class="modal fade" id="delete-<%= article.id %>" role="dialog">
             <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <a class="close" data-dismiss="modal">×</a>
                    <p>Confirmation Box</p>
                  </div>
                  <div class="modal-body">
                    <p>Are you sure to delete this article?</p>
                  </div>
                  <div class="modal-footer">
                    <a href="#" data-dismiss="modal" class="btn btn-default">No</a>
                    <%= link_to 'Yes', article_path(article), method: :delete, :class => 'btn btn-danger' %>
                  </div>
                </div>
              </div>
            </div>
         </div>
       </div>
     </div>
     <% end %>
    </div>
 </div>                      
<% end %> 